[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

brewblox-service = ">=0.15.0"
dpath = "*"
pyserial-asyncio = "*"
construct = "*"
protobuf = "*"
pint = "*"
aiofiles = "*"
aiohttp-sse = "*"


[dev-packages]

pytest = "*"
"pytest-flake8" = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-aiohttp = "*"
asynctest = "*"
"flake8" = "*"
"autopep8" = "*"
brewblox-tools = "*"
aresponses = "*"
pytest-sugar = "*"


[requires]

python_version = "3.7"
